<div class="row">
<textarea id="json" rows="10" style="width:100%"></textarea>
</div>
    Vẽ dữ liệu JSON:
<div class="row">
    <div class="checkbox col-md-3">
        <input type="checkbox" name="collapsed" id="collapsed" checked>
        <label for="collapsed">Xổ/Thu gọn</label>
    </div>
    <div class="checkbox col-md-3">
        <input type="checkbox" name="quotes" id="quotes">
        <label for="quotes">Bọc key bằng ngoặc kép</label>
    </div>
    <div class="checkbox col-md-3">
        <input type="checkbox" name="local" id="local">
        <label for="local">Local</label>
    </div>
    <div class="col-md-3">
        <a id="loadLocal" class="btn btn-primary">Load Local Data</a>
    </div>
</div>
<div class="row">
    <pre id="json-viewer" style="padding:20px"></pre>
</div>
@section scripts{
    <script>
        function isJSON(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }
        function activateJsonViewer(data) {
            var options = {
                collapsed: !$('#collapsed').is(':checked'),
                withQuotes: $('#quotes').is(':checked')
            };
            if (data === 'DanhMuc') {
                $('#json-viewer').jsonViewer(getFromLocal(data), options);
            } else {
                $('#json-viewer').jsonViewer(isJSON(data) ? JSON.parse(data) : {}, options);
            }
        }
        $("#json").on({
            keyup: function () {
                activateJsonViewer($(this).val());
            },
            copy: function () {
                activateJsonViewer($(this).val());
            },
            paste: function () {
                activateJsonViewer($(this).val());
            },
            cut: function () {
                activateJsonViewer($(this).val());
            }
        });

        $(':checkbox').change(function () {
            if (this.id === 'local' && this.checked) {
                activateJsonViewer('DanhMuc');
            } else {
                activateJsonViewer($("#json").val());
            }
        });
        $('#loadLocal').on('click', function (e) {
            activateJsonViewer('DanhMuc');
        });
    </script>
}
