<div class="row">
<textarea id="json" rows="10" style="width:100%"></textarea>
</div>
    Vẽ dữ liệu JSON:
<div class="row">
    <div class="checkbox col-md-3">
        <input type="checkbox" name="collapsed" id="collapsed" checked>
        <label for="collapsed">Xổ/Thu gọn</label>
    </div>
    <div class="checkbox col-md-3">
        <input type="checkbox" name="quotes" id="quotes">
        <label for="quotes">Bọc key bằng ngoặc kép</label>
    </div>
</div>
<div class="row">
    <pre id="json-viewer" style="padding:20px"></pre>
</div>
@section scripts{
    <script>
        function isJSON(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }
        function activateJsonViewer() {
            var options = {
                collapsed: !$('#collapsed').is(':checked'),
                withQuotes: $('#quotes').is(':checked')
            };
            $('#json-viewer').jsonViewer(isJSON($(this).val()) ? JSON.parse($(this).val()) : {}, options);
        }
        $("#json").on({
            keyup: function () {
                activateJsonViewer();
            },
            copy: function () {
                activateJsonViewer();
            },
            paste: function () {
                activateJsonViewer();
            },
            cut: function () {
                activateJsonViewer();
            }
        });

        $(':checkbox').change(function () {
            activateJsonViewer();
        });
    </script>
}
