
    Vẽ dữ liệu JSON:
<div class="row">
    <div class="checkbox col-md-3">
        <input type="checkbox" name="collapsed" id="collapsed">
        <label for="collapsed">Xổ/Thu gọn</label>
    </div>
    <div class="checkbox col-md-3">
        <input type="checkbox" name="quotes" id="quotes">
        <label for="quotes">Bọc key bằng ngoặc kép</label>
    </div>
</div>
<div class="row">
    <pre id="json-viewer" style="padding:20px"></pre>
</div>
@section scripts{
    <script>

        $(':checkbox').change(function () {
            var input = $("ThuaDat, ListDiaChi, ListMucDichSuDung").collectData({ stringify: false, object: true });
            var options = {
                collapsed: !$('#collapsed').is(':checked'),
                withQuotes: $('#quotes').is(':checked')
            };
            $('#json-viewer').jsonViewer(input, options);
        });

    </script>
}